@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
}
.header {
    width: 100%;
    display:block;
    

}
nav li {
    display: inline-block;
    font-size:36px;
    
   
}
nav {
    width: 100%;
    background-color: rgb(163, 120, 64);
}
nav ul {
    width: fit-content;
    margin: auto;

}
.submenu {
    position: absolute;
    top: 63px;
    display: none;
    background-color:rgb(163, 120, 64);
    margin:0;
    z-index: 3;

    
}
nav a:hover+.submenu {
    display: block;

    
}
.submenu:hover {
    display:block;
    
}
nav li:hover {
    background-color:rgb(136, 85, 19);
    text-align: center;
    
}
nav a {
    display: block;
    text-decoration: none;
    padding:5px 50px;
    color: white;
    text-transform: uppercase;
    
    
}

.slider {
    position: relative;
}
.photo {
    display:block;
    padding:5px 59px;
}
.video {
    display:line;
    padding:5px 51px;
}
/*.cardholder {
    width: 400px;
    height: 400px;
    background-color: #aaaaaa;
    margin: 100px auto;
    position: relative;
}
.cardholder::after {
    content: "";
    position: absolute;
    left: 400px;
    width: 0;
    height: 380px;
    border-left: 5px solid #444444;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.card {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 0;
    transition: transform .5s ease;
}
.card[data-id='0'] {
    background: url("../images/slide0.jpg");
}
.card[data-id='1'] {
    background: url("../images/slide1.jpg");
}
.card[data-id='2'] {
    background: url("../images/slide2.jpg");
}
.card[data-id='3'] {
    background: url("../images/slide3.jpg");
}
.card[data-id='4'] {
    background: url("../images/slide4.jpg");
}
.card-title{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 36px;
    text-align: center;
    padding: 5px 0;
    margin-top: 168px;
}*/
.content {font-size: 0;
    width:1350px;
    margin: 150px auto 50px;
}
.photocard {
    background: linear-gradient(to top left, #33ccff 0%, #cc6600 100%);
    width: 400px;
    margin-bottom:50px;
      padding:50px 50px 50px;
      display:inline-block;
      margin-right: 50px;
      box-shadow:4px 4px 5px rgb(85, 82, 82);

    }
    .card-title {
    padding-top:12px;
    font-size: 36px;
    font-weight:350;
    margin-bottom:-25px;
    color:rgb(0, 0, 0);
    text-align: center;
}
a {
    text-decoration: none;
}